* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.LoginBTN {
  width: 20em;
  height: 6.5em;
  border-radius: 8px;
  border: none;
  background-color: #FFDC00;
  margin-top: 45%;
  cursor: pointer;
  z-index: 10;
}


