.leftSide {
    background-color: #004C9B;
    height: 100vh;
    width: 55%;
    padding: 30vh 5rem;
}

.rightSide {
    background-image: url("../../public/RacEntrence1.png");
    height: 100vh;
    width: 45%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.verticalLine {
    border-left: 2px solid rgb(255, 255, 255); /* adjust color and thickness as desired */
    height: 10rem; /* adjust height as desired */
  }

.RIMS {
    height: 120px;
}

.LOGO {
    height: 80px;
}

.LOGOContainer {
    display: flex;
    flex-direction: column;
}

.LoginBTN {
    padding: 0.5em 2em;
    border-radius: 5px;
    border: none;
    background-color: #FFDC00;
    cursor: pointer;
    font-size: 2.2rem;
    color: white;
    z-index: 1;
  }
  .desc {
    padding-top: 2em;
    color: white;
    font-size: 1.6em;

  }
  .LoginBTN :hover  {
    background-color: #004C9B;
  }

  .filter {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFB81C;
    opacity: 0.12;
}